{% extends 'templatelogin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="center-div">
<div class="p-3 mb-2 loginbg text-white">
    <h1>Inscription</h1>


<div class="registerform">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'E-mail '
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe  '
        }) }}
</div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn text-white btn-primary"> S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
</div>
{% endblock %}
