{% extends 'templatelogin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="center-div">
<div class="p-3 mb-2 loginbg text-white">
    <h1>Inscription</h1>


<div class="registerform">
    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.nom, {
            label: 'Nom'
        }) }}

            {{ form_row(registrationForm.prenom, {
            label: 'Prenom '
        }) }}



        {{ form_row(registrationForm.email, {
            label: 'E-mail '
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe  '
        }) }}
</div>
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="mb-3">
            Déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a>
        </div>

        <button type="submit" class="btn text-white btn-primary"> S'inscrire</button>
    {{ form_end(registrationForm) }}
        <div class="mb-3">
            <a href="{{ path('homepage') }}"><i class="fa-solid fa-house fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6;" ></i></a>
        </div>
</div>
</div>
{% endblock %}
